<template>
    <require from="../../converters/date-format"></require>
    <require from="../../converters/currency-format"></require>
    <require from="../../converters/order-format"></require>
    <require from="../../converters/trade-status"></require>

    <h3 style="display: inline;">${ traderData.market }</h3> - <h4 style="display: inline;">${ traderData.currentTicker.bid } BTC | ${ traderData.currentTicker.timestamp) }</h4>

    <p if.bind="!traderData"><em>Loading trader...</em></p>
    <p>Profit: ${ profit }</p>
    
   <table if.bind="traderData.trades" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Status</th>
                <th>Buy</th>
                <th>Max Price</th>
                <th>Sell</th>
                <th>Profit%</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="trade of traderData.trades">
                <td>${ trade.buyOrder.uuid }</td>
                <td>${ trade.buyOrder.opened } </td>
                <td>${ trade.status | tradeStatus }</td>
                <td>${ trade.buyOrder.pricePerUnit }</td>
                <td>${ trade.maxPricePerUnit }</td>
                <td>${ trade.sellOrder.pricePerUnit }</td>
                <td>${ trade.profit }</td>
            </tr>
        </tbody>
    </table>
    <!--<p>
        <ul>
            <li repeat.for="ticker of tickerLog"><strong>${ticker.market}:</strong> ${ticker.bid} - ${ ticker.timestamp | dateFormat }</li>
        </ul>
    </p>-->
</template>