<template>
    <require from="../../converters/date-format"></require>
    <require from="../../converters/time-ago-format"></require>
    <require from="../../converters/currency-format"></require>
    <require from="../../converters/order-format"></require>
    <require from="../../converters/trade-status"></require>
    <require from="../../converters/trade-advice"></require>
    <require from="../../converters/value-format"></require>
    <require from="./trader.css"></require>

    <div click.trigger="toggleVisibility()">
        <p class="trader-name">${ traderData.market } </p>
        <p class="trader-info ${profit | valueFormat}">
            ${ traderData.currentTicker.bid | currencyFormat }
            <span class="profit"> ${ profit } % </span>
            <span class="profit"> ${ traderData.trades.length } trades </span>
            <span class="profit"> ${ traderData.currentTicker.latestEmaAdvice | tradeAdvice} </span>
        </p>
    </div>
    <p if.bind="!traderData"><em>Loading trader...</em></p>
    <div show.bind="visible">
        <div style="display: block">
            <span class="profit"> ${ traderData.budget.available } &#8383; </span>
            <span class="profit"> ${ traderData.budget.invested } &#8383; </span>
            <span class="profit"> ${ traderData.budget.earned } &#8383; </span>
        </div>
        <div id="buttons">
            <div id="lastMonth" click.trigger="lastMonth()" class="btn">last week</div>
            <div id="lastDay" click.trigger="lastDay()" class="btn">last day</div>
        </div>
        <div style="width: 80%" id="bardiv">
            <div style="height: 400px; width: 1200px; display: block; background-color: white;">
                <canvas id="myCanvas" ref="myCanvas" style="width: 1200px; height: 400px; display: block;"></canvas>
            </div>
        </div>
        <table if.bind="traderData.trades" class="table">
            <thead>
            <tr>
                <th>Bought</th>
                <th>Sold</th>
                <th>Status</th>
                <th>Buy &#8383;</th>
                <th>Max Price &#8383;</th>
                <th>Sell &#8383;</th>
                <th>Profit%</th>
            </tr>
            </thead>
            <tbody>
            <tr repeat.for="trade of traderData.trades">
                <td>${ trade.buyOrder.opened | dateFormat } </td>
                <td>${ trade.sellOrder.closed | dateFormat } </td>
                <td>${ trade.status | tradeStatus }</td>
                <td>${ trade.buyOrder.pricePerUnit }</td>
                <td>${ trade.maxPricePerUnit } </td>
                <td>${ trade.sellOrder.pricePerUnit } </td>
                <td class="${ trade.profit | valueFormat}">${ trade.profit }%</td>
            </tr>
            </tbody>
        </table>

    </div>
    <!--<p>
        <ul>
            <li repeat.for="ticker of tickerLog"><strong>${ticker.market}:</strong> ${ticker.bid} - ${ ticker.timestamp | dateFormat }</li>
        </ul>
    </p>-->
</template>