.trader-name {
    font-size: 18px;
    color: #F7921A;
    display: inline;
}

.trader-info{
    padding-left: 2em;
    display: inline;
    font-size: 16px;
    color: #CE2022;
}

.profit{
    padding-left: 2em;
    color: white;
}

.positive{
    color: #1ABC9C;
}

.negative{
    color: #CE2022;
}

.btn{
    background-color: white;
    margin: 5px;
}

#bardiv {
}

th{
    color: white;
}